
header {
  font-size: 24px;
  display: flex;
  list-style: none;
  margin: 15px auto;
  padding-left: 0;
  width: 1100px;
  border-bottom: solid 2px red;
}

.main_content, .create, .register, .login {
  width: 1100px;
  margin: 15px auto;
}
/*.header {*/
/*  border-bottom: solid 2px red;*/
/*}*/
.login_header {
  display: flex;
}
.sign_up {
  width: 1100px;
  display: flex;
}
.header_nav {
  display: flex;
  font-size: 20px;
  
}
.header_btn {
/*  margin-left: 160px;*/
/*  margin-right: 10px;*/
}
.header_title {
  display: flex;
  font-weight: bold;
  gap: 30px;
}
.header_left {
  display: flex;
  gap: 30px;
}
.header_right {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  gap: 30px;
}
.register_menu, .login_menu {
  margin-left: 80px;
}
.register_form, .login_form {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius : 5%;
  border: 2px solid #DDDDDD;
}
.login_h1, .register_h1 {
  font-size:24px;
  margin-left: 80px;
}

.create_title, .edit_title {
  font-size: 24px;
  margin-left: 151px;
}
.login_btn, .register_btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #007fff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */

}
.logout_btn {
  color: #949595;
}

/* エラーメッセージ用のスタイル */
.error {
  width: 1100px;
  margin: 0 auto;
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  width: 1100px;
  margin: 0 auto;
  color: green;
}
/*a要素*/
a:link {
 color: #0000EE;
}

a:visited {
 color: #551A8B;
}

a:active {
 color: #FF0000;
}
.main_top {
  padding-left: 151px;
}
.show_body {
  padding-left: 154px;
  margin-top: 10px;
}
.greeting {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.unfollows {
  list-style-type: disc;
  margin-left: 24px;
  margin-top: 5px;
  
}
.main_title, .show_title, .follow_title, .follower_title, .like_title{
  font-size: 24px;
  padding-left: 151px;
}
.new_post_btn {
  font-size: 20px;
  border: #949593 solid 2px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 154px;
  margin-right: 860px;
  padding-top: 2px;
}
.new_post_btn:hover {
  background-color: gray;
  font-size: 20px;
  border-radius: 5px;
}
.post_body {
  width: 664px;
  margin: 30px 154px;
  border: #949593 solid 2px;
}
.post_body_top {
  display: flex;
  font-size: 20px;
  padding-left: 5px;
  background-color: #b3b3b3;
}
.none_post {
  margin-top: 15px;
  margin-left: 158px;
}
.post_menu {
  display: flex;
  margin: 5px 10px 5px 5px;
}
.edit_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
  background-color: 
  #5D99FF;
}
.edit_btn:hover {
  background-color: gray;
  font-size: 15px;
  border-radius: 5px;
}
.create_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
}
.create_btn:hover {
  background-color: gray;
  font-size: 15px;
  border-radius: 5px;
}
.delete_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
  background-color: #FF5192;
}
.post_image {
  width: 100%;
  padding-left: 5px;
}
.post_main_body {
  font-size: 22px;
  text-align: left;
  margin-left: 5px;
}
.post_footer {
  padding-left: 5px;
}
.create_form, .edit_form {
  font-size: 20px;
  margin-left: 151px;
}
.title_form {
  border: #DDDDDD solid 2px;
}  
.form_header {
  margin: 10px 0;
}
.form_main {
  margin-bottom: 10px;
}
.form_main_body {
  margin-bottom : 5px;
}
textarea {
  border: 2px solid #DDDDDD;
}

.follow_btn {
  cursor: pointer;
  width: 68px;
  border: 1px solid #000;
}
.follow_cancellation_btn{
  cursor: pointer;
  width: 100px;
  border: 1px solid #000;
}
.keyword_form {
  border: 1px solid #000;
  font-size: 15px;
  margin-left: 3px;
  margin-bottom: 5px;
  padding-top: 2px;
}
.comment_form {
  border: 1px solid #000;
  font-size: 15px;
  margin-bottom: 5px;
  padding-top: 2px;
}
.keyword_btn, .comment_btn{
  font-size: 90%;
  background-color: #e6e6e6;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #000;
}
.post_comments{
  background-color: #e6e6e6;
  padding-left: 5px;
}
.comment_top{
  display: flex;
}
.user_search {
  padding-top: 5px;
  padding-left: 154px;
}

.like {
  font-size: 15px;
  margin: 5px;
  padding-top: 2px;
  padding-right: 2px;
  border: 1px solid #000;
}
.unlike {
  font-size: 15px;
  border: 1px solid #000;
  margin: 5px;
  padding-top: 2px;
  padding-right: 2px;
}
.follower, .follow{
  margin-left: 154px;
}
.follow_count, .follower_count {
  padding-left: 154px;
  margin-top: 5px;
}
.edit_h2 {
  margin-left: 151px;
  margin-bottom: 5px;
}
.edit_image{
  width: 100%;
  margin-left: 151px;
  margin-bottom: 5px;
}
.image_form {
  margin-left: 151px;
}
.profile_body{
  margin-left: 153px;
}
.profile_image{
  width : 100%;
}
.profile_form{
  margin-top: 5px;
}
.email_form, .name_form{
  border: 2px solid #DDDDDD;
  margin-bottom: 5px;
}
.keyword {
  margin-left: 151px;
}
.search_word {
  margin-left: 154px;
}
