
body {
  width: 1100px;
}

header {
  font-size: 24px;
  display: flex;
  list-style: none;
  margin: 15px 20px;
  padding-left: 0;
}
.header {
  border-bottom: solid 2px red;
}
.login_header {
  display: flex;
  border-bottom: solid 2px red;
}
.sign_up {
  display: flex;
}
.login_title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 140px;
}
.header_nav {
  display: flex;
  font-size: 20px;
  
}
.header_btn {
  margin-left: 160px;
  margin-right: 10px;
}
.header_title {
  display: flex;
  font-weight: bold;
  gap: 30px;
}
.header_left {
  display: flex;
  margin-left: 170px;
  margin-right: 30px;
  gap: 30px;
}
.header_right {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  gap: 30px;
}
.register_menu, .login_menu {
  margin-left: 283px;
}
.register_form, .login_form {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius : 5%;
  border: 2px solid #DDDDDD;
}
.login_h1 {
  font-size:24px;
  margin-left: 283px;
}
.register_h1 {
  font-size:24px;
  margin-left: 283px;
}
.create_title, .edit_title {
  font-size: 24px;
  margin-left: 190px;

}
.login_btn, .register_btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #007fff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */

}
.logout_btn {
  color: #949595;
}

/* エラーメッセージ用のスタイル */
.error {
  margin-left: 42px;
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  margin-left: 42px;
  color: green;
}
/*a要素*/
a:link {
 color: #0000EE;
}

a:visited {
 color: #551A8B;
}

a:active {
 color: #FF0000;
}

.main_title {
  font-size: 24px;
  padding-left: 190px;
}
.new_post_btn {
  font-size: 20px;
  border: #949593 solid 2px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 190px;
  margin-right: 824px;
  padding-top: 2px;
}
.new_post_btn:hover {
  background-color: gray;
  font-size: 20px;
  border-radius: 5px;
}
.post_body {
  width: 800px;
  margin: 30px 190px;
  border: #949593 solid 2px;
}
.post_body_top {
  display: flex;
  font-size: 20px;
  margin-left: 5px;
}
.none_post {
  margin-top: 10px;
  margin-left: 190px;
}
.post_menu {
  display: flex;
  margin: 5px 10px 5px 5px;
}
.edit_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
}
.edit_btn:hover {
  background-color: gray;
  font-size: 15px;
  border-radius: 5px;
}
.create_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
}
.create_btn:hover {
  background-color: gray;
  font-size: 15px;
  border-radius: 5px;
}
.delete_btn {
  margin: 3px 5px 0 0;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border: #949593 solid 1px;
}
.post_footer {
  font-size: 22px;
  text-align: left;
  margin-left: 5px;
}
.create_form, .edit_form {
  font-size: 20px;
  margin-left: 190px;
}
.title_form {
  border: #DDDDDD solid 2px;
}  
.form_header {
  margin: 10px 0;
}
.form_main {
  margin-bottom: 10px;
}
.form_main_body {
  margin-bottom : 5px;
}
textarea {
  border: 2px solid #DDDDDD;
}
